/* golos-text-cyrillic-wght-normal */
@font-face {
    font-family: 'Golos Text Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 400 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/golos-text:vf@latest/cyrillic-wght-normal.woff2) 
    format('woff2-variations');
    unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* merriweather-cyrillic-400-normal */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@latest/cyrillic-400-normal.woff2) format('woff2');
    unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  }

@keyframes wacky {
    0%   {font-variation-settings: "wght" 100;}
    25%  {font-variation-settings: "wght" 900;}
    75%  {font-variation-settings: "wght" 900;}
    100% {font-variation-settings: "wght" 100;}
}

body {
    font-family: 'Golos Text Variable', sans-serif;
    text-rendering: geometricPrecision;
    color: #313131;
}



/* // В макете контейнер обладает шириной 1140px. А весь макет шириной 1440px
// 810 px это 79.16% от брейкпоинта 1025px 



375 - весь макет
335 - размер контейнера


*/
/* .container {
    container-type: inline-size;
    width: calc(335px * 100% / 375px); // = 89.33%
    max-width: 810px; // 79.16% от 1024px
    margin: 0 auto;
    /* //overflow-x: hidden;
}

@media (width >= 1025px) {
    .container {
        width: calc(1140px * 100% / 1440px); // = 79.16%
        max-width: 1800px;
    }
} */








 /* 
 Чем хорош сайт:

 1) Логотип в хеадере сделан не через картинку или svg. А через маску. и маска выполнена не из картинки
    Это позволяет сэыкономить на загрузке изображения. 

2) используется малое кол-во классов для экономии кода
3) используется CSS наследование 2024

4) h2 скрыт только визуально, но остается доступным для поиска

5) Вариативный шрифт с анимацией
 
 */
       






 @keyframes rotate {
    from { transform: rotate(360deg); }
}

 .s1 {
    background-color: #E7DBD1;
    padding: 0 20px;
    container-type: inline-size;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        mix-blend-mode: color-burn;
        z-index: -1;
        top: 0;
        left: 0;
        pointer-events: none;
        object-fit: fill;
    }
 }


 header {
    height: auto;
    padding: 18px 0;
    display: flex;
    align-items: center;

    div {
        width: 79.5px;
        height: 27px;
        background-color: #595653;
        clip-path: view-box path('M18.02 25.66h-.48v-.02l-.02-.06a3.96 3.96 0 0 0-.08-.32v-.01a7.04 7.04 0 0 0-.05-.17l-.02-.05c0-.04-.02-.08-.03-.11l-.02-.06a6.48 6.48 0 0 0-.04-.11l-.02-.06a5.87 5.87 0 0 0-.05-.13v-.03a6.75 6.75 0 0 0-.1-.21c0-.03-.02-.07-.04-.1l-.02-.06a5.21 5.21 0 0 0-.08-.16l-.05-.11-.02-.05-.08-.14-.03-.06-.05-.09-.04-.06a11.46 11.46 0 0 0-.08-.15l-.06-.09-.05-.08-.07-.1a6.11 6.11 0 0 0-.04-.07l-.05-.07-.05-.07a.83.83 0 0 0-.05-.07l-.05-.07-.05-.07-.1-.12-.04-.06-.06-.08-.05-.05-.06-.08-.05-.05-.06-.07-.04-.05a8.13 8.13 0 0 0-.25-.26l-.04-.04-.08-.08-.04-.03a6.65 6.65 0 0 0-.08-.08l-.03-.03-.3-.26-.02-.02a6.31 6.31 0 0 0-.1-.08l-.03-.02-.1-.08-.01-.01a8.89 8.89 0 0 0-.35-.25l-.01-.01a7.82 7.82 0 0 0-.11-.07l-.03-.02a7.58 7.58 0 0 0-.1-.07h-.02a10.84 10.84 0 0 0-.51-.3l-.02-.02a8.3 8.3 0 0 0-.68-.32h-.01a8.4 8.4 0 0 0-.19-.08h1.23c.2 0 .36-.22.36-.49s-.16-.49-.36-.49h-.37l.08-.18c.34-.2.95-.64 1.55-1.43v-.01l.14-.19.14-.2.01-.02.06-.1.07-.1.01-.03.05-.09.01-.02.06-.1.02-.03a5.9 5.9 0 0 0 .12-.22l.01-.03.05-.1.01-.03a7 7 0 0 0 .06-.11v-.03l.05-.1.02-.03a6.7 6.7 0 0 0 .1-.25l.02-.05.04-.1.02-.03.04-.13.02-.05.04-.1v-.04a11.46 11.46 0 0 0 .07-.18l.03-.11.02-.05a7.18 7.18 0 0 0 .05-.19l.03-.11.01-.05.04-.15.01-.04.03-.13.01-.05.04-.16v-.03l.03-.14.01-.06.03-.15v-.03a16.35 16.35 0 0 0 .06-.37v-.04c.02-.06.02-.12.03-.19v-.05l.02-.15v-.05c.02-.06.02-.13.03-.2v-.04l.02-.16v-.06l.01-.2v-.04a12.94 12.94 0 0 0 .02-.23v-1.55l-.02-.2v-.05l-.02-.24v-.06l-.02-.2V9.3l-.02-.25V9a29.19 29.19 0 0 0-.07-.56v-.03a20.3 20.3 0 0 0-.04-.24V8.1l-.05-.28C15.24-1.41 5.55.09 5.55.09l.3 1.98L0 7.94l.26 2.27 2.22 1.3c.1-.25.22-.47.37-.68 1.44-1.57 4.21-2.8 5.01-3.05l.25-.08a15.25 15.25 0 0 0-3.2 11.29c-.18.03-.31.23-.31.48 0 .27.16.49.36.49h1.22a8.14 8.14 0 0 0-4.71 4.84l-.02.05a2.3 2.3 0 0 0-.03.1l-.02.06a5.4 5.4 0 0 0-.03.1l-.02.07a3.64 3.64 0 0 0-.05.18l-.02.1-.02.1-.03.1H.74a.74.74 0 0 0-.5.2.67.67 0 0 0-.22.47.64.64 0 0 0 .22.48.71.71 0 0 0 .5.19h17.29a.74.74 0 0 0 .5-.19.67.67 0 0 0 .22-.48.64.64 0 0 0-.21-.48.71.71 0 0 0-.51-.19ZM38.27 25.66h-.48v-.02l-.02-.06c0-.04-.02-.07-.03-.11l-.01-.06-.04-.15v-.01a6.19 6.19 0 0 0-.05-.17l-.02-.05c0-.04-.02-.08-.03-.11l-.02-.06a5.04 5.04 0 0 0-.04-.11l-.02-.06a6.39 6.39 0 0 0-.05-.13v-.03l-.07-.15-.02-.06-.05-.1-.02-.06a6.95 6.95 0 0 0-.08-.16l-.05-.11-.02-.05-.08-.14-.03-.06-.05-.09-.04-.06-.04-.08a1.79 1.79 0 0 0-.04-.07l-.06-.09-.05-.08-.07-.1a6.1 6.1 0 0 0-.04-.07l-.05-.07-.05-.07a.83.83 0 0 0-.05-.07l-.05-.07-.05-.07-.1-.12-.04-.06-.06-.08-.05-.05-.06-.08-.05-.05-.06-.07-.04-.05a8.03 8.03 0 0 0-.25-.26l-.04-.04-.08-.08-.04-.03a6.66 6.66 0 0 0-.08-.08l-.03-.03-.3-.26-.02-.02a6.87 6.87 0 0 0-.1-.08l-.03-.02-.1-.08-.01-.01a8.74 8.74 0 0 0-.35-.25l-.01-.01a7.83 7.83 0 0 0-.11-.07l-.03-.02-.11-.07a10.83 10.83 0 0 0-.51-.3l-.03-.02a8.29 8.29 0 0 0-.68-.32h-.01a8.4 8.4 0 0 0-.19-.08h1.23c.2 0 .36-.22.36-.49s-.16-.49-.36-.49h-.37l.08-.18c.34-.2.95-.64 1.55-1.43v-.01l.14-.19.14-.2.01-.02.06-.1.07-.1.01-.03a5.48 5.48 0 0 0 .12-.21l.02-.03a5.9 5.9 0 0 0 .12-.22l.01-.03.05-.1.01-.03.06-.11v-.03l.05-.1.02-.03a6.03 6.03 0 0 0 .1-.25l.02-.05.04-.1.01-.03.05-.13.02-.05a6.69 6.69 0 0 0 .1-.32l.04-.11.02-.05a6.57 6.57 0 0 0 .05-.19l.03-.11a3.27 3.27 0 0 1 .05-.2l.01-.04.03-.13.01-.05a9.91 9.91 0 0 0 .07-.33l.01-.06.03-.15v-.03l.03-.17.01-.06.02-.14v-.04l.03-.19v-.05a6.91 6.91 0 0 0 .05-.4v-.04l.01-.16v-.06l.02-.2v-.04l.01-.17v-.06l.01-.21v-1.34l-.02-.2v-.05l-.02-.24v-.06l-.02-.2V9.3L37 9.05V9c-.02-.07-.02-.15-.03-.22a3.79 3.79 0 0 0-.04-.34v-.03l-.04-.24V8.1l-.05-.28C35.5-1.41 25.8.09 25.8.09l.3 1.98-5.85 5.87.26 2.27 2.22 1.3c.1-.25.22-.47.37-.68 1.44-1.57 4.21-2.8 5.01-3.05l.25-.08a15.25 15.25 0 0 0-3.2 11.29c-.18.03-.32.23-.32.48 0 .27.17.49.37.49h1.22a8.14 8.14 0 0 0-4.76 5l-.02.05-.03.1-.02.07c0 .04-.02.07-.03.1l-.02.08-.02.1-.02.1-.03.1H21a.74.74 0 0 0-.5.2.67.67 0 0 0-.22.47.64.64 0 0 0 .21.48.71.71 0 0 0 .51.19h17.29a.74.74 0 0 0 .5-.19.67.67 0 0 0 .22-.48.64.64 0 0 0-.21-.48.7.7 0 0 0-.51-.19ZM58.52 25.66h-.48v-.02l-.02-.06a4.31 4.31 0 0 0-.08-.32v-.01a6.59 6.59 0 0 0-.05-.17l-.02-.05c0-.04-.02-.08-.03-.11l-.02-.06a5.04 5.04 0 0 0-.04-.11l-.02-.06a7.01 7.01 0 0 0-.05-.13v-.03l-.07-.15-.02-.06-.05-.1-.02-.06a6.95 6.95 0 0 0-.08-.16l-.05-.11-.02-.05-.08-.14-.03-.06-.05-.09-.04-.06a8.6 8.6 0 0 0-.08-.15l-.06-.09-.04-.08-.08-.1a4.97 4.97 0 0 0-.04-.07l-.05-.07-.05-.07a.88.88 0 0 0-.05-.07l-.05-.07-.05-.07-.1-.12-.04-.06-.06-.08-.05-.05-.06-.08-.05-.05-.06-.07-.04-.05a8.13 8.13 0 0 0-.25-.26l-.04-.04-.08-.08-.04-.03a6.66 6.66 0 0 0-.08-.08l-.03-.03-.3-.26-.02-.02a6.87 6.87 0 0 0-.1-.08l-.03-.02-.1-.08-.01-.01a8.74 8.74 0 0 0-.35-.25l-.01-.01a7.83 7.83 0 0 0-.11-.07l-.03-.02a9.14 9.14 0 0 0-.1-.07h-.02a8.05 8.05 0 0 0-.38-.24l-.13-.07h-.02a8.29 8.29 0 0 0-.68-.33h-.01a8.22 8.22 0 0 0-.18-.08h1.22c.2 0 .36-.22.36-.49s-.16-.49-.36-.49h-.37l.08-.18c.34-.2.95-.64 1.55-1.43v-.01l.14-.19.14-.2.01-.02.06-.1.07-.1.01-.03a4.86 4.86 0 0 0 .12-.21l.02-.03a5.13 5.13 0 0 0 .12-.22l.01-.03.05-.1.01-.03.06-.11.01-.03.04-.1.02-.03a6.03 6.03 0 0 0 .1-.25l.02-.05.05-.1v-.03l.05-.13.02-.05a6.69 6.69 0 0 0 .1-.32l.04-.11.02-.05a7.18 7.18 0 0 0 .13-.5l.01-.04.03-.13.01-.05.04-.16v-.03l.03-.14.01-.06.03-.15v-.03l.03-.17.01-.06.02-.14v-.04c.02-.06.02-.12.03-.19v-.05a6.91 6.91 0 0 0 .05-.4v-.04l.02-.16v-.06l.01-.2v-.04l.01-.17v-.06l.01-.21v-1.34l-.02-.2v-.05l-.02-.24v-.06l-.02-.2V9.3l-.02-.25V9c-.02-.07-.02-.15-.03-.22a3.03 3.03 0 0 0-.04-.34v-.03l-.04-.24V8.1l-.05-.28C55.74-1.41 46.05.09 46.05.09l.31 1.98-5.86 5.87.26 2.27 2.22 1.3c.1-.25.22-.47.37-.68 1.44-1.57 4.22-2.8 5.01-3.05l.25-.08a15.25 15.25 0 0 0-3.2 11.29c-.18.03-.31.23-.31.48 0 .27.16.49.36.49h1.22a8.14 8.14 0 0 0-4.76 5l-.02.05-.03.1-.02.07a3.57 3.57 0 0 0-.05.18l-.02.1-.02.1-.03.1h-.49a.74.74 0 0 0-.5.2.67.67 0 0 0-.22.47.64.64 0 0 0 .22.48.71.71 0 0 0 .5.19h17.29a.74.74 0 0 0 .5-.19.67.67 0 0 0 .22-.48.64.64 0 0 0-.21-.48.71.71 0 0 0-.51-.19ZM78.77 25.66h-.48v-.02l-.02-.06a3.96 3.96 0 0 0-.08-.32v-.01a7.04 7.04 0 0 0-.05-.17l-.02-.05c0-.04-.02-.08-.03-.11l-.02-.06a6.48 6.48 0 0 0-.04-.11l-.02-.06a5.87 5.87 0 0 0-.05-.13v-.03a6.75 6.75 0 0 0-.1-.21c0-.03-.02-.07-.04-.1l-.02-.06a5.21 5.21 0 0 0-.08-.16l-.05-.11-.02-.05-.08-.14-.03-.06-.05-.09-.04-.06a11.46 11.46 0 0 0-.08-.15l-.06-.09-.05-.08-.07-.1a6.11 6.11 0 0 0-.04-.07l-.05-.07-.05-.07a.83.83 0 0 0-.05-.07l-.05-.07-.05-.07-.1-.12-.04-.06-.06-.08-.05-.05-.06-.08-.05-.05-.06-.07-.04-.05a8.13 8.13 0 0 0-.25-.26l-.04-.04-.08-.08-.04-.03a6.65 6.65 0 0 0-.08-.08l-.03-.03-.3-.26-.02-.02a6.31 6.31 0 0 0-.1-.08l-.03-.02-.1-.08-.01-.01a8.89 8.89 0 0 0-.35-.25l-.01-.01a7.82 7.82 0 0 0-.11-.07l-.03-.02a7.58 7.58 0 0 0-.1-.07h-.02a10.84 10.84 0 0 0-.51-.3l-.02-.02a8.3 8.3 0 0 0-.68-.32h-.01a8.4 8.4 0 0 0-.19-.08h1.23c.2 0 .36-.22.36-.49s-.16-.49-.36-.49h-.37l.08-.18c.34-.2.95-.64 1.55-1.43v-.01l.14-.19.14-.2.01-.02.06-.1.07-.1.01-.03.05-.09.01-.02.06-.1.02-.03a5.9 5.9 0 0 0 .12-.22l.01-.03.05-.1.01-.03a7 7 0 0 0 .06-.11v-.03l.05-.1.02-.03a6.7 6.7 0 0 0 .1-.25l.02-.05.04-.1.02-.03.04-.13.02-.05.04-.1v-.04a11.46 11.46 0 0 0 .07-.18l.03-.11.02-.05a7.18 7.18 0 0 0 .05-.19l.03-.11.01-.05.04-.15.01-.04.03-.13.01-.05.04-.16v-.03l.03-.14.01-.06.03-.15v-.03a16.35 16.35 0 0 0 .06-.37v-.04c.02-.06.02-.12.03-.19v-.05l.02-.15v-.05c.02-.06.02-.13.03-.2v-.04l.02-.16v-.06a17.75 17.75 0 0 0 .02-.41v-.06l.01-.21v-1.34l-.02-.2v-.05l-.02-.24v-.06l-.02-.2V9.3l-.02-.25V9a29.19 29.19 0 0 0-.07-.56v-.03a20.3 20.3 0 0 0-.04-.24V8.1l-.05-.28C76-1.41 66.3.09 66.3.09l.3 1.98-5.85 5.87.26 2.27 2.22 1.3c.1-.25.22-.47.37-.68 1.44-1.57 4.21-2.8 5.01-3.05l.25-.08a15.25 15.25 0 0 0-3.2 11.29c-.18.03-.31.23-.31.48 0 .27.16.49.36.49h1.22a8.14 8.14 0 0 0-4.67 4.72 7.2 7.2 0 0 0-.1.28V25l-.04.1-.02.07a3.26 3.26 0 0 0-.05.18l-.02.1-.02.1-.03.1h-.49a.74.74 0 0 0-.5.2.67.67 0 0 0-.22.47.64.64 0 0 0 .22.48.71.71 0 0 0 .5.19h17.29a.74.74 0 0 0 .5-.19.67.67 0 0 0 .22-.48.64.64 0 0 0-.21-.48.71.71 0 0 0-.51-.19Z');
        transform: scale(1);
        /* // Нужно масштбаировать в завиисомти от ширины экрана */
        transform-origin: top left;
    }

    h1 {
        font-family: 'Golos Text Variable', sans-serif;
        font-weight: 700;
        font-variation-settings: "wght" 700;
        font-size: 14.42px;
        text-transform: uppercase;
        color: #595653;
        line-height: 108%;
        margin-left: 5px;
    }
 

    h2 {
        position: absolute;
        height: 1px;
        width: 1px;
        clip: rect(1px 1px 1px 1px);
        clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
        overflow: hidden;
    } 
}












.s1-content {
    margin-top: calc(25 / 335 * 100cqw);

    span {
        font-family: 'Merriweather', serif;
        font-size: calc(36 / 335 * 100cqw);
        display: block;
        text-transform: uppercase;
        line-height: 110%;
    }
    span:nth-of-type(2)::first-letter {
        letter-spacing: 1.24px;
    }
    span:nth-of-type(3) {
        text-align: center;
        margin-top: calc(1 / 335 * 100cqw);
        margin-left: calc(8 / 335 * 100cqw);
    }
    span:nth-of-type(4) {
        text-align: end;
    }

    p {        
        text-wrap: balance;
        font-size: calc(18 / 335 * 100cqw);
        line-height: 130%;
        margin-top: calc(24 / 335 * 100cqw);
        color: #313131;
        font-variation-settings: "wght" 400;
    }

    div {
        margin-top: calc(29 / 335 * 100cqw);

        a {
            width: 100%;
            height: calc(47 / 335 * 100cqw);
            background-color: #1F1F1F;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: calc(66 / 335 * 100cqw);
            font-family: 'Golos Text Variable';
            font-weight: 500;
            font-size: 16px;
            font-variation-settings: "wght" 500;
        } 
        .transparent-btn {
            margin-top: calc(14 / 335 * 100cqw);
            background-color: white;
            color: #1F1F1F;
            opacity: 90%;
        }
    }
    


    .circle { 
        position: relative; 
        width: calc(297.49 / 335 * 100cqw);
        height: calc(297.49 / 335 * 100cqw);
        overflow: hidden; 
        z-index: -2;
        margin-top: -75px;
        margin-left: 10px;

        svg { 
            position: absolute; 
            left: 0; 
            top: 0; 
            width: 100%; 
            height: 100%;
            background-color: #FBCE51;
            border-radius: 50%;
    
            animation-name: rotate;
            animation-duration: 50s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            text { 
                font-family: 'Merriweather', serif;
                font-size: 23%;
                font-weight: 400;
                scale: 2.3;
                transform-origin: center;
                color: #313131;
                mix-blend-mode: overlay;
            }
        
        }

 


    }





}