/* golos-text-cyrillic-wght-normal */
@font-face {
    font-family: 'Golos Text Variable';
    font-style: normal;
    font-display: auto;
    font-weight: 400 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/golos-text:vf@latest/cyrillic-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* merriweather-cyrillic-400-normal */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@latest/cyrillic-400-normal.woff2) format('woff2');
    unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
  }

@keyframes wacky {
    0%   {font-variation-settings: "wght" 100;}
    25%  {font-variation-settings: "wght" 900;}
    75%  {font-variation-settings: "wght" 900;}
    100% {font-variation-settings: "wght" 100;}
}

body {
    font-family: 'Golos Text Variable', sans-serif;
    text-rendering: geometricPrecision;
    color: #313131;
}


:root {
    --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
    --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.20rem);
    --step-0: clamp(4.50rem, 3.64rem + 4.29vw, 9.00rem);
  }
  
  @keyframes marquee {
      from {transform: translateX(-100%);}
      to {transform: translateX(0%);}
  }


 /* 
 Чем хорош сайт:

 1) Логотип в хеадере сделан не через картинку или svg. А через маску. и маска выполнена не из картинки
    Это позволяет сэыкономить на загрузке изображения. 

2) используется малое кол-во классов для экономии кода
3) используется CSS наследование 2024

4) h2 скрыт только визуально, но остается доступным для поиска

5) Вариативный шрифт с анимацией
 
 */
       


 @keyframes go {
    to {  
      inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
  }



 @keyframes rotate {
    from { transform: rotate(360deg); }
}

 .s1 {
    background-color: #E7DBD1;
    padding: 0 calc(20 / 335 * 100cqw);;
    container-type: inline-size;

    .noise {
        width: 100%;
        height: 100%;
        position: absolute;
        mix-blend-mode: color-burn;
        z-index: -1;
        top: 0;
        left: 0;
        pointer-events: none;
        object-fit: fill;
    }
 }


 header {
    height: auto;
    padding: calc(18 / 335 * 100cqw) 0;
    display: flex;
    align-items: center;
    overflow: visible;

    svg {
        width: calc(79.5 / 335 * 100cqw);
        height: calc(27 / 335 * 100cqw);
    }

    h1 {
        font-family: 'Golos Text Variable', sans-serif;
        font-weight: 700;
        font-variation-settings: "wght" 700;
        font-size: calc(14.42 / 335 * 100cqw);
        text-transform: uppercase;
        color: #595653;
        line-height: 108%;
        margin-left: calc(5 / 335 * 100cqw);
    }

    h2 {
        position: absolute;
        height: 1px;
        width: 1px;
        clip: rect(1px 1px 1px 1px);
        clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
        overflow: hidden;
        font-family: 'Golos Text Variable', sans-serif;
    } 
}












.s1-content {
    margin-top: calc(25 / 335 * 100cqw);

    span {
        font-family: 'Merriweather', serif;
        font-size: calc(36 / 335 * 100cqw);
        display: block;
        text-transform: uppercase;
        line-height: 110%;
    }
    span:nth-of-type(2)::first-letter {
        letter-spacing: calc(1.24 / 335 * 100cqw);;
    }
    span:nth-of-type(3) {
        text-align: center;
        margin-top: calc(1 / 335 * 100cqw);
        margin-left: calc(8 / 335 * 100cqw);
    }
    span:nth-of-type(4) {
        text-align: end;
    }

    p {        
        text-wrap: balance;
        font-size: calc(18 / 335 * 100cqw);
        line-height: 130%;
        margin-top: calc(24 / 335 * 100cqw);
        color: #313131;
        font-variation-settings: "wght" 400;
    }

    .buttons {
        margin-top: calc(29 / 335 * 100cqw);

        a {
            width: 100%;
            height: calc(47 / 335 * 100cqw);
            background-color: #1F1F1F;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: calc(66 / 335 * 100cqw);
            font-family: 'Golos Text Variable';
            font-weight: 500;
            font-size: calc(16 / 335 * 100cqw);
            font-variation-settings: "wght" 500;
        } 
        .transparent-btn {
            margin-top: calc(14 / 335 * 100cqw);
            background-color: white;
            color: #1F1F1F;
            opacity: 90%;
        }
    }
/*     
    @keyframes scroll-x {
        from {
          transform: translateX(var(--scroll-start));
        }
        to {
          transform: translateX(var(--scroll-end));
        }
      } */

    .circle { 
        position: relative; 
        width: calc(297.49 / 335 * 100cqw);
        height: calc(297.49 / 335 * 100cqw);
        overflow: hidden; 
        z-index: -2;
        margin-top: calc(-75 / 335 * 100cqw);
        margin-left: calc(10 / 335 * 100cqw);

        svg { 
            position: absolute; 
            left: 0; 
            top: 0; 
            width: 100%; 
            height: 100%;
            background-color: #FBCE51;
            border-radius: 50%;
    
            animation-name: rotate;
            animation-duration: 50s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            text { 
                font-family: 'Merriweather', serif;
                font-size: 23%;
                font-weight: 400;
                scale: 2.3;
                transform-origin: center;
                color: #313131;
                mix-blend-mode: overlay;
            }
        
        }

 


    }
    /* .city {
        display: flex;
        block-size: var(--marquee-item-height);
        margin-block: var(--marquee-item-height);
        position: relative;
        overflow-x: hidden;
        
        --marquee-item-width: 150px;
        --marquee-item-height: 150px;
        --marquee-duration: 24s;
        --marquee-items: 3;

        img {
            width: calc(690.17 / 335 * 100cqw);
            --marquee-item-offset: max(
              calc(var(--marquee-item-width) * var(--marquee-items)),
              calc(100% + var(--marquee-item-width))
            );
            --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
            position: absolute;
            inset-inline-start: var(--marquee-item-offset);
            transform: translateX(-50%);
            animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
          }
          
          
          img:nth-of-type(1) {
            --marquee-item-index: 1;
          }
          
          img:nth-of-type(2) {
            --marquee-item-index: 2;
          }
          
          img:nth-of-type(3) {
            --marquee-item-index: 3;
          }
          
   
    } */

      
.marquee {
	height: calc(365.29 / 335 * 100cqw);
	
	& img {
		object-fit: cover;
		max-height: 100%;
	}
}

.track {
	height: 100%;
	transition: background-color 300ms ease, color 300ms ease;
	white-space: nowrap;
    display: flex;
	
	& .text {
		animation: marquee 50000ms linear infinite;
		
		will-change: transform;
	}
}

}